<p id="notice"><%= notice %></p>

<p>
  <strong>Has many:</strong>
  <%= @upvote.has_many %>
</p>

<p>
  <strong>Has many:</strong>
  <%= @upvote.has_many %>
</p>

<%= link_to 'Edit', edit_upvote_path(@upvote) %> |
<%= link_to 'Back', upvotes_path %>
