<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head>

<body onload="show()">
<div style="text-align:center;">
    <%if current_user.usertypeid==2%>
    <strong style="color:white;"> Filter By</strong> <a href="admin/users/show?fetch=filter-by-zone" class="btn btn-default" onclick ='window.location.reload();' style="color:black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Zone&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <a href="admin/users/show?fetch=filter-by-ward" class="btn btn-default" onclick ='window.location.reload();' style="color:black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ward&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
<%end%>
  <strong style="color:white;">Sort By</strong>  
    <a href="admin/users/show?fetch=sort-by-zoneno" class="btn btn-default" onclick ='window.location.reload();' style="color:black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Zone No.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
     <a href="admin/users/show?fetch=sort-by-likes" class="btn btn-default" onclick ='window.location.reload();' style="color:black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Likes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <a href="admin/users/show?fetch=sort-by-latest" class="btn btn-default" onclick ='window.location.reload();' style="color:black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Latest Complaints&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
   <a href="admin/users/show?fetch=sort-by-oldest" class="btn btn-default" onclick ='window.location.reload();' style="color:black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Oldest Complaints&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>  
   
</div>



<% if current_user %>
<div class="transitions-enabled" id="complains">
  
    <% if @complains.empty? %>
        <h4> There are no complains in your area!</h4>
    <% else %>
		<% @complains.each do |c| %>
		   <div class="box panel panel-default">
               <img src="<%= c.imageurl_url%>" height=200px width=250px/>
		  
			  <div class="panel-body">
				  <h2>
					  <%= link_to c.title, c %>
				  </h2>
				 
					   <p class="user">
						   Submitted by
						   <%= User.where(:username=>c.public_username).first.firstname %>&nbsp; <%= User.where(:username=>c.public_username).first.lastname %>
					   </p>
					    <div class="btn-group pull-left">
                            <p>Status:<strong><%= c.status%></strong></p>
                      </div>
				    <div class="btn-group pull-right">
                        <% if current_user.usertypeid==2%>
                      <form action="complains/addvote" method="post">
                          <input type="hidden" name="vote" value="<%= c.id %>" />
                            <input type="hidden" name="location" value="<%=request.original_url%>" />
                        <p><button type="button" onclick="this.form.submit()" class="btn btn-success"><%= c.votecount%> <span class="glyphicon glyphicon-thumbs-up"> </span></button> </p>
                    </form>
                        <%else%>
                       Likes: <strong><%= c.votecount %></strong>
                        <%end%>
			      </div>
			  </div>
		   </div>
		<% end %>
    <% end %>
</div>
<% end %>
  
</body>



  
<div class="container">   
  <!-- Modal -->  
  <div class="modal fade" id="myModal" role="dialog">  
    <div class="modal-dialog">  
      <div class="modal-content">  
        <div class="modal-header">  
          <button type="button" class="close" data-dismiss="modal">×</button>  
          <h2 class="modal-title" style="text-align:center">Complaint Stats</h2>  
        </div>  
        <div class="modal-body" >  
            <h4 style="margin-left:140px;">
            Total Complaints Resolved:<strong>&nbsp;<%= Complain.where(:status =>"Resolved").count%></strong><br/><br/>
            <% @complain=Complain.all %>
            <% if @complain.size>0 %>
            <% $chash=Complain.all.group(:public_username).count %>
            <% $chash=$chash.sort_by {|k,v| v}.reverse %>
            <% $chash= $chash.first%>
            Most aware User:<strong>&nbsp;<%=User.where(:username =>$chash[0]).first.firstname%> <%=User.where(:username =>$chash[0]).first.lastname%></strong><br><br/>
            <% $ahash=Complain.all.group(:admin_username).count %>
            <% $ahash=$ahash.sort_by {|k,v| v}.reverse %>
          
            Most active Administrator:<strong> <%=User.where(:username =>$ahash.first[0]).first.firstname %>&nbsp;<%=User.where(:username =>$ahash.first[0]).first.lastname %></strong><br/><br/>
                Most Upvoted Complaint:
                <% c=Complain.order("votecount DESC").first%>
                  <div class="box panel panel-default" style="width:250px;height:270px">
                        <img src="<%= c.imageurl_url%>" height=150px width=250px/>
			         <div class="panel-body">
                         <h4>
                             <%= c.title%>
                         </h4>
				 
					   <p class="user">
						   Submitted by
						   <%= User.where(:username=>c.public_username).first.firstname %>&nbsp; <%= User.where(:username=>c.public_username).first.lastname %>
					   </p>
					    <div class="btn-group pull-left">
                            <p>Status:<strong><%= c.status%></strong></p>
                      </div>
				    <div class="btn-group pull-right">
                       Likes: <strong><%= c.votecount %></strong>
			      </div>
			  </div>
		   </div>
                <%end%>
                
            </h4>
            
        </div>  
        <div class="modal-footer">  
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>  
        </div>  
      </div>  
    </div>  
  </div>  
</div>  


<script>
function show(){
  if(!sessionStorage.flag){
        $('#myModal').modal('show')
        sessionStorage.flag="set";
  }
    

}
</script>