<!DOCTYPE html>
<html>
  <head>
    <title>ComplaintsManagementSystem</title>
    <%= csrf_meta_tags %>
	
	<%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>

	<%= stylesheet_link_tag    '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  	<%= javascript_include_tag '//cdn.auth0.com/js/lock/10.0.0/lock.min.js' %>
	 <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


  </head>

  <body>
	 <nav class="navbar navbar-default">
         
		  <div class="container">
				 <div class="navbar-brand">
                  <%= link_to image_tag("logo.png", alt: "logo"), root_path, :onclick => 'window.location.reload();'%>
				</div>
             
    <% if user_signed_in? %>
             
				  <ul class="nav navbar-nav navbar-right">
                     
                        
                       <li>
                                <form class="navbar-form navbar-right" action="https://cms-marauders.herokuapp.com/">
                                <div class="input-group">
                                <input class="form-control" id="search" name="search" type="text" placeholder="Search Complaints"/>
                                 <div class="input-group-addon">
                                     <button onclick="this.form.submit()" class="glyphicon glyphicon-search" style="width:auto;"> </button>
                                    </div>
                                                                                                
                                 </div>
                          
                                                                        
                          </form>
              </li>
                      <% if current_user.usertypeid==2 %>
                      <li><a href="https://cms-marauders.herokuapp.com/complains/new" >Register New Complain</a></li>
                      <% end %>
					  <li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome <%= current_user.firstname %>&nbsp;<%= current_user.lastname %><span class="glyphicon glyphicon-user"></span></a>
							<ul class="dropdown-menu">

                                <li><%= link_to "Profile", edit_user_registration_path %></li>
                                 <% if current_user.usertypeid==2 %>
                                <li><%= link_to "My Complaints", "https://cms-marauders.herokuapp.com/complains/myComplains", :onclick =>'window.location.reload();' %></li>
                                <%end%>
                                 <% if current_user.usertypeid==1 %>
                                <li><%= link_to "Report", "https://cms-marauders.herokuapp.com/complains/report" %></li>
                                <%end%>
                                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, :onclick =>"deleteSession()" %></li>
                                
						   </ul>
					  </li>
				  </ul>
        <% else %>
					<ul class="nav navbar-nav navbar-right">
            <li>
            <%= link_to "Feedback", new_feedback_path %>
            </li>
                     <li>
						<%= link_to "Sign Up", new_user_registration_path %>
					  </li>
					  <li>
						<%= link_to "Sign In", new_user_session_path %>
					  </li>
					</ul>
			  <% end %>
				
		  </div>
	  </nav>
	   <div class="container">
    <% if notice %>
	<p class="alert alert-success"><%= notice %></p>
	<% end %>
	</div>
	 <div class="container">
	<% if alert %>
	<p class="alert alert-danger"><%= alert %></p>
	<% end %>
    <%= yield %>
	</div>
  </body>

<script>
function deleteSession(){
sessionStorage.clear();
}
</script>
</html>